.bio {
    &__inner {
        width: 420px;
    }

    &__name {
        font-weight: bolder;
        font-size: 2.3rem;
        letter-spacing: -1.3px;
        padding-left: 4px;
        padding-right: 4px;
        color: $color-font--dark;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0);
        transition-property: border-color, background-color;
        transition-duration: 180ms;

        :root:not(.mobile) &:hover {
            border-color: rgba(0, 0, 0, 0.4);
        }

        :root &:focus {
            outline: none;
            background-color: white;
            border-color: rgba(0, 0, 0, 0.4);
        }
    }

    * + &__list {
        margin-top: 14px;
    }

    &__list-item {
        font-weight: bolder;
        font-size: 1rem;
        line-height: 1;

        & + & {
            margin-top: 7px;
        }
    }

    &__skills {
        //margin-left: -6px;
    }

    * + &__skills {
        margin-top: 22px;
    }

    &__add-skills-btn {
        background-color: transparent;
        font-size: 1rem;
        padding: 0;
        display: inline-block;
        position: relative;
        color: inherit;

        :root:not(.mobile) &:hover {
            &::before {
                width: 100%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;
            background-color: currentColor;
            transition-property: width;
            transition-duration: 180ms;
        }
    }

    * + &__add-skills-btn {
        margin-top: 12px;
    }
}
