.bio {
    &__form {
        position: relative;
        width: 420px;
        max-width: calc(100% - 140px);

        @include below($md) {
            max-width: none;
            width: auto;
        }
    }

    &__text-field {
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0);
        transition-property: border-color, background-color;
        transition-duration: 180ms;

        :root:not(.mobile) &:hover {
            border-color: rgba(0, 0, 0, 0.3);
        }

        :root &:focus {
            outline: none;
            background-color: white;
            border-color: rgba(0, 0, 0, 0.3);
            padding-right: 74px;
        }
    }

    &__name {
        font-weight: bolder;
        font-size: 2.3rem;
        letter-spacing: -1.3px;
        color: $color-font--dark;

        @include below($lg) {
            font-size: 1.6rem;
        }

        @include below($md) {
            font-size: 1.5rem;
        }
    }

    * + &__list {
        margin-top: 5px;
    }

    &__list-item {
        font-weight: bolder;
        font-size: 1rem;
        line-height: 1;

        & + & {
            margin-top: 2px;
        }
    }

    &__skills {
        margin-left: -4px;
    }

    * + &__skills {
        margin-top: 17px;
    }

    &__minor-btn-wrap {
        position: absolute;
        right: 8px;
        top: 50%;
        width: auto;
        height: auto;
        transform: translateY(-50%) scale(0);
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 180ms;

        .bio__form.active & {
            transform: translateY(-50%) scale(1);
            opacity: 1;
        }
    }

    &__minor-btn {
        position: relative;
        width: 22px;
        height: 22px;
        padding: 0;
        background-color: #e7e7e7;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 180ms;
        vertical-align: middle;

        * + & {
            margin-left: 4px;
        }

        :root:not(.mobile) &:hover {
            background-color: #a2a2a2;
        }

        &--sm {
            width: 16px;
            height: 16px;
        }
    }

    &__minor-btn .svg-icon {
        fill: white;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__add-skills {
        position: relative;
    }

    * + &__add-skills {
        margin-top: 7px;
    }

    &__add-skills-btn {
        background-color: transparent;
        font-size: 1rem;
        padding: 0;
        display: inline-block;
        color: inherit;
        margin-left: 4px;
        position: absolute;
        left: 0;
        top: 5px;
        opacity: 1;
        transform: scale(1);
        transition-property: opacity, transform;
        transition-duration: 180ms;
        transition-delay: 100ms;

        :root:not(.mobile) &:hover {
            &::before {
                width: 100%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;
            background-color: currentColor;
            transition-property: width;
            transition-duration: 180ms;
        }

        &.hidden {
            opacity: 0;
            transform: scale(0);
        }
    }

    &__skills-form {
        width: 0;
        overflow: hidden;
        transition-property: width;
        transition-duration: 180ms;

        &.active {
            z-index: 1;
            width: 256px;
        }
    }

    &__add-skills-field {
        line-height: 24px;
        font-size: 0.9rem;

        :root .bio__skills-form.active & {
            border-color: #0f0 !important;
            padding-right: 104px;
            outline: none;
            background-color: white;
        }
    }

    &__skills-select-wrap {
        display: inline-block;
    }
}
