.common-list {
    text-align: left;

    li {
        position: relative;
        padding-left: 11px;
        line-height: 1.2;

        &::before {
            content: '\2022';
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
        }
    }

    li + li {
        margin-top: 3px;
    }
}
