// Font families
$font--base: Helvetica_Neue, Arial, sans-serif;
// @type List

// Colors
$color-font--dark: rgba(0, 0, 0, 1);
$color-font-light: white;
$color-font-lighter: #4c4c4c;

$color-bg: rgba(230, 230, 230, 1);

// @type Property Values
$transition--default: all 0.2s ease-out;

//@viewport breakpoints
$md: 600px;
$lg: 880px;
