// Font families
$font--base: Helvetica_Neue, Arial, sans-serif;
// @type List

// Colors
$color-font--dark: black;
$color-font-light: white;
$color-font-lighter: #4c4c4c;

$color-bg: rgba(230, 230, 230, 1);

// @type Property Values
$transition--default: all 0.2s ease-out;

//@viewport breakpoints
$sm: 480px;
$md: 1020px;
